@import './typography.scss';

:root{
  font-size: $font-size-base;
}

html, body {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $app;
  font-size: $font-size-base;
  font-family: 'OpenSans';
}


#header,
#main {
  padding-left: 20px;
  padding-right: 20px;
}